<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="preload" href="//s1.hdslb.com/bfs/static/jinkela/subchannel/1.subchannel.5378e0e919d5997b0ab8c43e368711d656adccbc.js" as="script">
    <link rel="preload" href="//s1.hdslb.com/bfs/static/jinkela/subchannel/css/subchannel.0.5378e0e919d5997b0ab8c43e368711d656adccbc.css" as="style">
    <link rel="preload" href="//s1.hdslb.com/bfs/static/jinkela/subchannel/subchannel.5378e0e919d5997b0ab8c43e368711d656adccbc.js" as="script">
    <link rel="stylesheet" href="//s1.hdslb.com/bfs/static/jinkela/subchannel/css/subchannel.0.5378e0e919d5997b0ab8c43e368711d656adccbc.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <style>
      .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .bg-purple-dark {
    background: #FFFFFF;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  </style>
  <script src="https://cdn.staticfile.org/vue/2.6.12/vue.min.js"></script>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    var user_name = "{{user_name|safe}}";
    var page = 1;
    function getQueryString(name) {
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  decodeURI(r[2]); return null;
    }
    window.onload = function(){
      new Vue({
        el:'#app',
        data:{
            Arts:[]
        },
        mounted(){
          this.$nextTick(()=>{
            var that=this;
            var find = null;
            find = getQueryString("user_name");
            if(find == null){
                find = "{{user_name|safe}}";
            }
            $.ajax({
                url:"http://127.0.0.1:8000/article/getmine",
                type:"post",
                data:JSON.stringify({
                    user_name:find,
                    page:page,
                }),
                dataType:"json",
                success:function(result){
                    that.Arts = result['data']['Arts'];
                }
            })
          })
        },
        delimiters:['${', '}']
      })
    }
  </script>
</head>
<body>
    <el-container id="app">
      <el-aside width="210px">
        <el-menu class="el-menu-vertical-demo" :collapse="false">
            {% if user_name == "wywnb" %}
            <el-menu-item><span><a href="http://127.0.0.1:8000/user/signup_index">登录</a></span></el-menu-item>
            <el-menu-item><span><a href="http://127.0.0.1:8000/user/signin_index">注册</a></span></el-menu-item>
            {% else %}
            <el-menu-item><span>{{user_name|safe}}</span></el-menu-item>
            <el-menu-item><span><a href="http://127.0.0.1:8000/user/logout">退出</a></span></el-menu-item>
            {% endif %}
            {% for cont in content %}
            <el-menu-item>
                <template #title>
                  <i class="el-icon-location"></i>
                  <span><a href={{cont.url|safe}}>{{cont.head|safe}}</a></span>
                </template>
            </el-menu-item>
            {% endfor %}
      </el-aside>
      <el-main>
        <div class="vd-list-cnt">
            <ul class="vd-list mod-2">
                <li v-for="art in Arts">
                    <div class="l-item">
                        <div class="l">
                            <div class="spread-module">
                                <a href="//www.bilibili.com/video/BV1ay4y137jg" target="_blank">
                                    <div class="pic">
                                        <div class="lazy-img">
                                            <img alt="谁说帧率高=流畅？国产大厂：帧率波动小才是王道" src="">
                                        </div>
                                    </div>
                                    <p class="num">
                                        <span class="play">
                                            <i class="icon"></i>
                                            1
                                        </span>
                                        <span class="danmu">
                                            <i class="icon"></i>
                                            0
                                        </span>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="r">
                            <a :href="'/article/blog?title='+art.art_title" target="_blank" title="" class="title">
                                ${art.art_title}
                            </a>
                            <div class="v-desc">
                                ${art.art_time}
                            </div>
                            <div class="v-info">
                                <span class="v-info-i">
                                    <i title="观看" class="b-icon b-icon-v-play"></i>
                                    <span>1</span>
                                </span>
                                <span class="v-info-i">
                                    <i title="弹幕" class="b-icon b-icon-v-dm"></i>
                                    <span>0</span>
                                </span>
                            </div>
                            <div class="up-info">
                                <a href="'/article/getauthorart?user_name='+art.art_author" target="_blank" title=${art.art_author} class="v-author">
                                ${art.art_author}
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <el-pagination
    layout="prev, pager, next"
    :total="1000">
        </el-pagination>
      </el-main>
    </el-container>
</body>
  
</html>
