<div class="h">
  <div class="wrapper">
    <div class="h-inner" style="background-image: url(&quot;//i0.hdslb.com/bfs/space/cb1c3ef50e22b6096fde67febe863494caefebad.png@2560w_400h_100q_1o.webp&quot;);">
      <div class="h-gradient"></div>
      <div class="h-user">
        <div class="h-info clearfix">
          <div class="h-avatar">
            <img src="//i1.hdslb.com/bfs/face/3ba887be52a30058cbe016543fe7f1de319361bb.jpg@128w_128h_1o.webp" id="h-avatar">
            <a target="_blank" href="https://account.bilibili.com/account/face/upload" class="avatar-cover">
            更换头像
            </a>
            <img src="//i0.hdslb.com/bfs/vip/icon_Certification_big_member_22_3x.png" title="大会员" class="avatar-icon">
          </div>
          <div class="h-basic"><div>
          <span id="h-name">别骂了丶</span>
          <span id="h-ceritification" class="icon"></span>
          <span id="h-gender" class="icon gender male"></span>
          <a href="//www.bilibili.com/html/help.html#k" target="_blank" lvl="5" class="h-level m-level"></a>
          <a href="//account.bilibili.com/account/big" target="_blank" class="h-vipType" style="color: rgb(255, 255, 255); background-color: rgb(251, 114, 153);">大会员</a>
        </div>
      </div>
    </div>
  </div>
</div>
  