<div disabled="disabled" class="card-case type-head">
  <div class="user-info clearfix">
    <div class="user-face left" style="background-image: url(&quot;//i1.hdslb.com/bfs/face/3ba887be52a30058cbe016543fe7f1de319361bb.jpg@30p&quot;);"></div>
    <span class="left">别骂了丶</span>
  </div>
  <p class="title"></p>
  <div disabled="disabled" class="image"><!----> 
    <div class="empty-icon">
      <i class="icon-font icon-add-img"></i> 
      <p>请先添加图片</p>
    </div> <!----> 
    <input type="file" accept="image/jpeg, image/jpg, image/png" class="none"> 
    <a class="repick default-repick"><i class="icon-font icon-icon_upload"></i></a>
  </div> 
  <div class="text">
    <p class="content">
      <span class="block"></span> 
      <span class="block"></span>
    </p> 
  </div>
</div>

