
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/my.css">
    </head>
    <body>
        <div class="container" id="page-wrapper">
            <div class="row">
              <div id="nav-col">
                <section class="col-left-nano" id="col-left">
                  <div class="col-left-nano-content" id="col-left-inner">
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                      <ul class="nav nav-pills nav-stacked">
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a1">
                            <i class="ft ftsucai-82"></i>
                            <span>后台首页</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a2">
                            <i class="ft ftsucai-UI"></i>
                            <span>设计元素</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="ui_buttons.html" data-id="link1" data-index="1">按钮</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_cards.html" data-id="link2" data-index="2">卡片</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_grid.html" data-id="link3" data-index="3">格栅</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_icons.html" data-id="link4" data-index="4">图标</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_tables.html" data-id="link5" data-index="5">表格</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="pagination.html" data-id="link5" data-index="5">分页导航</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_progress.html" data-id="link6" data-index="6">进度条</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_tabs.html" data-id="link7" data-index="7">选项卡</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_step.html" data-id="link8" data-index="8">步骤</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="ui_other.html" data-id="link9" data-index="9">其他</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a3">
                            <i class="ft ftsucai-edit-2"></i>
                            <span>表单元素</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="forms_elements.html" data-id="link21" data-index="21">基本元素</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="forms_radio.html" data-id="link22" data-index="22">单选框</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="forms_checkbox.html" data-id="link23" data-index="23">复选框</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="forms_switch.html" data-id="link24" data-index="24">开关</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a4">
                            <i class="ft ftsucai-19"></i>
                            <span>示例页面</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="pages_config.html" data-id="link31" data-index="31">网站配置</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="pages_permission.html" data-id="link32" data-index="32">权限设置</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="pages_add_doc.html" data-id="link33" data-index="33">新增文档</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="pages_guide.html" data-id="link34" data-index="34">表单向导</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a5">
                            <i class="ft ftsucai-table"></i>
                            <span>常用列表</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="pages_data.html" data-id="link41" data-index="41">数据列表</a>
                            </li>
                          </ul>
                        </li>
                        
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a6">
                            <i class="ft ftsucai-js"></i>
                            <span>脚本插件</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="js_datepicker.html" data-id="link51" data-index="51">日期选取</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="js_sliders.html" data-id="link52" data-index="52">滑块特效</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="js_colorpicker.html" data-id="link53" data-index="53">色码选取</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="js_msg.html" data-id="link54" data-index="54">对话框</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="js_tags_input.html" data-id="link55" data-index="55">标签插件</a>
                            </li>
                            <li>
                              <a class="submenuitem" href="js_notify.html" data-id="link56" data-index="56">通知消息</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-toggle" href="#" data-id="a7">
                            <i class="ft ftsucai-315"></i>
                            <span>统计图表</span>
                            <i class="ft ftsucai-139 drop-icon"></i>
                          </a>
                          <ul class="submenu">
                            <li>
                              <a class="submenuitem" href="js_chartjs.html" data-id="link61" data-index="61">Chart图表</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </div>
              <div id="content-wrapper">
                <div class="content-tabs" style="height:44px;border-bottom:2px solid #f0f0f0;">
                  <button class="roll-nav roll-left tabLeft">
                    <i class="ft ftsucai-backward2"></i>
                  </button>
                  <nav class="page-tabs menuTabs">
                    <div class="page-tabs-content" style="margin-left: 0px;">
                      <a class="menuTab active" href="javascript:;" data-id="home.html">欢迎首页</a></div>
                  </nav>
                  <button class="roll-nav roll-right tabRight">
                    <i class="ft ftsucai-forward3"></i>
                  </button>
                  <div class="btn-group roll-nav roll-right">
                    <button class="dropdown tabClose" data-toggle="dropdown">页签操作
                      <i class="ft caret" style="padding-top: 3px;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a class="tabReload" href="javascript:void();"><i class="ft ftsucai-spinner3"></i>刷新当前页面</a></li>
                      <li>
                        <a class="tabCloseCurrent" href="javascript:void();"><i class="ft ftsucai-close-3"></i>关闭当前页面</a></li>
                      <li>
                        <a class="tabCloseAll" href="javascript:void();"><i class="ft ftsucai-77"></i>关闭全部页面</a></li>
                      <li>
                        <a class="tabCloseOther" href="javascript:void();"><i class="ft ftsucai-120"></i>除此之外全关</a></li>
                    </ul>
                  </div>
                </div>
                <div class="content-iframe" style="background-color: #f9f9f9;">
                  <div class="mainContent" id="content-main" style="margin: 0px; padding: 0px; height: 722px;">
                    <iframe name="main_iframe" width="100%" height="100%" class="main_iframe" id="default" src="home.html" frameborder="0" data-id="home.html"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>